# Python
__pycache__/
*.py[cod]
*$py.class

# Virtualenvs
.venv/
venv/
env/

# Packaging
build/
dist/
*.egg-info/
.eggs/
pip-wheel-metadata/

# Testing / coverage
.coverage
.coverage.*
htmlcov/
.tox/
.pytest_cache/

# Type check / caches
.mypy_cache/
.pyre/
*.cache

# Secrets
.env
.env.local

# Misc
*.log

#data
data/