youtube-transcript-api
deep-translator

langchain
langchain-core
langchain-community
langchain-text-splitters

langchain-huggingface
langchain-groq
langchain-chroma

chromadb

rank-bm25

sentence-transformers
torch

python-dotenv

fastapi
uvicorn[standard]

yt-dlp
python-multipart
