@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

/* Custom Scrollbar */

::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: #4b5563;
  border-radius: 9999px;
}

::-webkit-scrollbar-thumb:hover {
  background: #6b7280;
}


@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(8px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}


.prose ul {
  list-style-type: disc !important;
  padding-left: 1.5rem !important;
}

.prose ol {
  list-style-type: decimal !important;
  padding-left: 1.5rem !important;
}

.prose li {
  margin-top: 0.5rem !important;
  margin-bottom: 0.5rem !important;
}

.prose p {
  margin-top: 0.5rem !important;
  margin-bottom: 0.5rem !important;
}


.prose p {
  margin-top: 0.875rem !important;
  margin-bottom: 0.875rem !important;
}

.prose li {
  margin-top: 0.375rem !important;
  margin-bottom: 0.375rem !important;
}

.prose ul, .prose ol {
  margin-top: 0.625rem !important;
  margin-bottom: 0.625rem !important;
}

.prose h1, .prose h2, .prose h3 {
  margin-top: 1.25rem !important;
  margin-bottom: 0.625rem !important;
}

button{
  cursor: pointer;
}